body {
  font-family: Tahoma;
  background: #f2f2f2;
}

.box {
  width: 360px;
  margin: 120px auto;
  background: #ffffff;
  padding: 25px;
  text-align: center;
  border-radius: 8px;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#result {
  margin-top: 15px;
  font-size: 15px;
}
